<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to your APP!
  </h1>
  <div class="calculator">

    <input class="writeForm"
           [value]="form"
           (input)="form = $event.target.value"
           (keyup.enter)="calculate(form)"
           (keyup)="preventNumbers($event)"
           (click)="checkZero()"/>

    <div class="operations">
      <button class="button" (click)="buttonsClick('+')">+</button>
      <button class="button" (click)="buttonsClick('-')">-</button>
      <button class="button" (click)="buttonsClick('*')">*</button>
      <button class="button" (click)="buttonsClick('/')">/</button>
    </div>
    <button class="button" (click)="calculate(form)">=</button>
  </div>
</div>
